<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ntu.mobile.smallelephant.ader"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="13" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        >
        <activity
            android:name="edu.ntu.mobile.smallelephant.mianher.MyGallery"
            android:theme="@style/Theme.Sherlock"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:label="@string/app_name"
            android:name="ParseStarterProjectActivity"
            android:theme="@style/Theme.Sherlock"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.ntu.mobile.smallelephant.mianher.ChoosingPhoto"
            android:theme="@style/Theme.Sherlock"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="edu.ntu.mobile.smallelephant.mianher.beginner"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.ntu.mobile.smallelephant.mianher.instruction"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" 
            android:screenOrientation="portrait">
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>